.select {
  display: flex;
  align-items: center;

  &__title {
    font-size: 12px;
    color: gray;
    margin-right: 10px;
  }

  &__body {
    max-width: 300px;
    margin-right: 40px;
    background-color: white;
  }
}