.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  padding: 0;
  height: 20px;
  border: none;
  font-size: 16px;
  background-color: rgba(80, 190, 36, 0.669);
  border: 2px solid rgba(69, 111, 5, 0.712);
  padding-bottom: 1px;

  &:hover {
    background-color: lightgray;
    color: black
  }
}

.orders {
  margin-top: 30px;
  margin-left: 50px;

  &__header {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  &__headerTitle {
    font-weight: 600;
  }
}