.layoutMain {
  max-width: 1920px;
  margin: 0 auto;
  // padding: 0 20px;

}

.leftSide {
  min-height: 93vh;
  box-shadow: 0 10px 30px rgba(133, 125, 125, 0.2);
}

.rightSide {
  padding-left: 80px;
  padding-top: 50px;
  // background-color: rgba(211, 211, 211, 0.129);
}