.orderDetail {
  flex: 1;
  flex-basis: 30%; //TODO check out it style
  margin-left: 20px;
  border: 1px solid lightgray;
  border-radius: 6px;
  position: relative;
  padding-top: 20px;
  background-color: white;
  margin-bottom: auto;

  &__product {
    // background-color: white;
    border-top: 1px solid lightgray;
    display: flex;
    gap: 30px;
    align-items: center;
    padding-top: 4px;
    padding-left: 28px;
    padding-right: 20px;
    padding-bottom: 4px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  &__btnWrap {
    text-decoration: none;
    position: relative;
    display: inline-flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  &__btnBox {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(80, 190, 36, 0.669);
  }

  &__btnTitle {
    margin-left: 20px;
    margin-left: 10px;
    font-size: 16px;
    color: rgba(80, 190, 36, 0.669);
  }
}

.item {

  &:hover {
    box-shadow: 0 0 20px rgba(133, 125, 125, 0.2);
  }

  &__status {
    color: black;
    // width: 50px;

    &_active {
      color: green;
      // flex: 1;

    }

    &_smNoActive {
      width: 10px;
      height: 10px;
      background-color: black;
      border-radius: 6px;
    }

    &_smActive {
      width: 10px;
      height: 10px;
      background-color: green;
      border-radius: 6px;
    }
  }

  &__img {
    width: 40px;
    height: 30px;
  }

  &__titleWrap {
    // background-color: red;
    flex: 1;
    // min-width: 200px;

  }

  &__title {
    text-decoration: underline;
    margin-right: 40px;
    font-size: 14px;


    &_lg {
      font-size: 16px;
    }
  }

  &__btnTrushWrap {
    margin-left: auto;
  }

  &__iconTrush {}
}

.orderDetail__btnWrap:hover .orderDetail__btnBox,
.orderDetail__btnWrap:hover .orderDetail__btnTitle {
  color: black;
}

// .item__status,
// .item__img,
// .item__btnTrushWrap {
//   flex-shrink: 0; // Предотвращает сжатие этих элементов
// }

// .item__titleWrap {
//   flex-grow: 1; // Позволяет заголовку заполнять доступное пространство
//   min-width: 0; // Предотвращает переполнение элементов за пределы контейнера

//   .item__title,
//   .item__titleDesc {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis; // Добавляет многоточие если текст не умещается
//   }
// }

// .item__status {
//   width: 50px; // Фиксированная ширина для статуса
//   text-align: center; // Центрирование текста внутри
// }

// .item__btnTrushWrap {
//   margin-left: auto; // Автоматический отступ слева, выравнивает элемент по правому краю
// }