.layout {
  box-shadow: 0 0 30px rgba(133, 125, 125, 0.2);
  padding: 6px 0 6px 0;
}

.header {
  min-height: 50px;
  align-items: center;
  // background-color: red;
  display: flex;

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px
  }

  &__time {
    text-align: center;
  }
}

.logo {
  &__img {
    width: 30px;
    height: auto;
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    color: green;
  }
}

.search {

  &__input {
    max-width: 350px;
    max-height: 24px;
    background-color: rgba(243, 243, 243, 0.384);
    display: flex;
  }
}

.time {
  // background-color: red;
  display: flex;
  flex-direction: column;
  align-items: start;

  &__day {}

  &__wrapDate {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &__date {}

  &__wrapIcon {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__clock {}
}