.navigationMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.navBar {
  gap: 10px;
  font-size: 14px;
  align-items: center;

  &__link {
    color: black;
    font-weight: 500;
    padding: 2px;
    text-decoration: none;

    &:hover {
      color: gray;
      text-decoration: underline;
      text-underline-offset: 4px;

    }

    &_active {
      color: green;
      text-decoration: underline;
      text-underline-offset: 4px;

      &:hover {
        color: green;
      }
    }
  }


}

// .nav-link.active,
// .nav-underline .nav-link {

// .nav-underline {
//   font-weight: 700;
//   color: green;
//   border-bottom-color: green;
// }